<mat-card style="padding-top: 1em;">
  <mat-card-header style="margin-bottom: 2em; justify-content: space-between;">
    <mat-form-field class="full-width">
      <mat-icon *ngIf="query != ''" matPrefix (click)="resetSearch()">clear</mat-icon>
      <input (keydown)="queryChanged($event)" type="text" matInput placeholder="search" [(ngModel)]="query">
      <mat-icon matTooltip="search" matSuffix (click)="doSearch()">search</mat-icon>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let action of actions" (click)="expandAction(action._id); $event.stopPropagation();" [expanded]="expandedAction === action._id || actions.length == 1">
        <mat-expansion-panel-header>
          <mat-panel-title style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <mat-icon matTooltip="delete this action" matTooltipPosition="above" (click)="expandAction(action._id);deleteDialog(action);$event.stopPropagation();" mat-list-icon style="margin-right:1em;cursor:pointer">delete</mat-icon>
            <mat-icon matTooltip="yay!" matTooltipPosition="above" color="primary" class="material-icons" style="margin-right:1em;" *ngIf="action.sentiment == 1">sentiment_very_satisfied</mat-icon>
            <mat-icon matTooltip="meh." matTooltipPosition="above" color="accent" class="material-icons" style="margin-right:1em;" *ngIf="action.sentiment == 0">sentiment_neutral</mat-icon>
            <mat-icon matTooltip="noo!" matTooltipPosition="above" color="warn" class="material-icons" style="margin-right:1em;" *ngIf="action.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
            {{ action.name }}
          </mat-panel-title>
          <mat-panel-description style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 8.5em;">
            {{ action.created_at | date: 'dd/MM/yyyy - hh:mm'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <h3 mat-subheader> cause </h3>
          <mat-list-item>
            <mat-icon matTooltip="view this action's cause" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor:pointer;" routerLink="/causes/{{ action.cause?._id }}">visibility</mat-icon>
                        <mat-icon matTooltip="delete this action's cause" matTooltipPosition="above" mat-list-icon (click)="deleteCauseDialog(cause)" mat-list-icon style="margin-right:1em;cursor:pointer">delete</mat-icon>

            <mat-icon matTooltip="yay!" matTooltipPosition="above" style="margin-right:1em;" color="primary" mat-list-icon *ngIf="action.cause.sentiment == 1">sentiment_very_satisfied</mat-icon>
            <mat-icon matTooltip="meh." matTooltipPosition="above" style="margin-right:1em;" color="accent" mat-list-icon *ngIf="action.cause.sentiment == 0">sentiment_neutral</mat-icon>
            <mat-icon matTooltip="noo!" matTooltipPosition="above" style="margin-right:1em;" color="warn" mat-list-icon *ngIf="action.cause.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
            <h4 mat-line>{{ action.cause.name }}</h4>
            <p mat-line class="demo-2">{{ action.cause.created_at | date: 'dd/MM/yyyy - hh:mm'}}</p>

          </mat-list-item>
          
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
