<mat-card style="padding-top: 1em;">
  <mat-card-header style="margin-bottom: 2em; justify-content: space-between;">
    <mat-form-field class="full-width">
      <mat-icon *ngIf="query != ''" matPrefix (click)="resetSearch()">clear</mat-icon>
      <input (keydown)="queryChanged($event)" type="text" matInput placeholder="search" [(ngModel)]="query">
      <mat-icon matTooltip="search" matSuffix (click)="doSearch()">search</mat-icon>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel [@fadeInOut] *ngFor="let action of actions" (click)="expandAction(action._id); $event.stopPropagation();" [expanded]="expandedAction === action._id || actions.length == 1">
        <mat-expansion-panel-header>
          <mat-panel-title style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <mat-icon matTooltip="delete this action" matTooltipPosition="above" (click)="expandAction(action._id);deleteActionDialog(action);$event.stopPropagation();" mat-list-icon style="margin-right:1em;cursor:pointer">delete</mat-icon>
            <mat-icon matTooltip="yay!" matTooltipPosition="above" color="primary" class="material-icons" style="margin-right:1em;" *ngIf="action.sentiment == 1">sentiment_very_satisfied</mat-icon>
            <mat-icon matTooltip="meh." matTooltipPosition="above" color="accent" class="material-icons" style="margin-right:1em;" *ngIf="action.sentiment == 0">sentiment_neutral</mat-icon>
            <mat-icon matTooltip="noo!" matTooltipPosition="above" color="warn" class="material-icons" style="margin-right:1em;" *ngIf="action.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
            {{ action.name }}
          </mat-panel-title>
          <mat-panel-description style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 8.5em;">
            {{ action.created_at | date: 'dd/MM/yyyy - hh:mm'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <h3 mat-subheader> cause </h3>
          <mat-list-item>
            <mat-icon matTooltip="add an action to this cause" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor: pointer;" (click)="newActionDialog(action.cause)">add</mat-icon>
            <mat-icon matTooltip="view this cause" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor:pointer;" routerLink="/causes/{{ action.cause?._id }}">visibility</mat-icon>
            <mat-icon matTooltip="delete this cause" matTooltipPosition="above" mat-list-icon (click)="deleteCauseDialog(action.cause)" mat-list-icon style="margin-right:1em;cursor:pointer">delete</mat-icon>
            <mat-icon matTooltip="yay!" matTooltipPosition="above" style="margin-right:1em;" color="primary" mat-list-icon *ngIf="action.cause.sentiment == 1">sentiment_very_satisfied</mat-icon>
            <mat-icon matTooltip="meh." matTooltipPosition="above" style="margin-right:1em;" color="accent" mat-list-icon *ngIf="action.cause.sentiment == 0">sentiment_neutral</mat-icon>
            <mat-icon matTooltip="noo!" matTooltipPosition="above" style="margin-right:1em;" color="warn" mat-list-icon *ngIf="action.cause.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
            <h4 mat-line>{{ action.cause.name }}</h4>
            <p mat-line class="demo-2" style="margin-bottom:0.5em;">{{ action.cause.created_at | date: 'dd/MM/yyyy - hh:mm'}}</p>
            <h4 mat-subheader mat-line> effect </h4>
            <ul mat-line>
              <li>
                <mat-icon matTooltip="add a cause to this effect" matTooltipPosition="above" (click)="newCauseDialog(action.effect._id);" style="margin-right:1em;cursor: pointer;">add</mat-icon>
                <mat-icon matTooltip="view this effect" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor: pointer;" routerLink="/actions/{{ action.effect._id }}">visibility</mat-icon>
                <mat-icon matTooltip="delete this effect" matTooltipPosition="above" (click)="deleteEffectDialog(action.effect)" mat-list-icon style="margin-right:1em;cursor: pointer;">delete</mat-icon>
                <mat-icon matTooltip="yay!" matTooltipPosition="above" color="primary" style="margin-right:1em;" *ngIf="action.effect.sentiment == 1">sentiment_very_satisfied</mat-icon>
                <mat-icon matTooltip="meh." matTooltipPosition="above" color="accent" style="margin-right:1em;" *ngIf="action.effect.sentiment == 0">sentiment_neutral</mat-icon>
                <mat-icon matTooltip="noo!" matTooltipPosition="above" color="warn" style="margin-right:1em;" *ngIf="action.effect.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
                {{action.effect.name}}  
                <p style="margin-left:12.3em" mat-line>{{ action.effect.created_at | date: 'dd/MM/yyyy - hh:mm'}}</p></li>
            </ul>
          </mat-list-item>
          
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
