<mat-toolbar color="accent">
  <button mat-button routerLink="/">
    <mat-icon>repeat_one</mat-icon> 
        Groundhog</button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>

    <button mat-raised-button [routerLink]="['/signup']" *ngIf="!loggedIn()" style="margin-right:1em" color="primary">
    Signup</button>
    <button mat-raised-button [routerLink]="['/login']" *ngIf="!loggedIn()" style="margin-right:0" color="primary">
    Login</button>
    <!--<button mat-raised-button [routerLink]="['/stats']" *ngIf="loggedIn()" style="margin-right:1em" color="primary"><i class="material-icons">timeline</i> Stats</button>-->
    <button mat-raised-button [routerLink]="['/actions']" *ngIf="loggedIn()" style="margin-right:1em" color="primary">
    Actions</button>
    <button mat-raised-button [routerLink]="['/causes']" *ngIf="loggedIn()" style="margin-right:1em" color="primary">
    Causes</button>
    <button mat-raised-button [routerLink]="['/effects']" *ngIf="loggedIn()" style="margin-right:1em" color="primary">
    Effects</button>

    <button mat-raised-button (click)="logout()" *ngIf="loggedIn()" style="margin-right:0" color="primary">
    <i class="material-icons">all_out</i> Logout</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">

  <button mat-menu-item [routerLink]="['/signup']" *ngIf="!loggedIn()" style="margin-right:1em" color="primary">
    Signup</button>
  <button mat-menu-item [routerLink]="['/login']" *ngIf="!loggedIn()" style="margin-right:0" color="primary">
    Login</button>
  <!--<button mat-raised-button [routerLink]="['/stats']" *ngIf="loggedIn()" style="margin-right:1em" color="primary"><i class="material-icons">timeline</i> Stats</button>-->
  <button mat-menu-item [routerLink]="['/actions']" *ngIf="loggedIn()" style="margin-right:1em" color="primary">
    Actions</button>
  <button mat-menu-item [routerLink]="['/causes']" *ngIf="loggedIn()" style="margin-right:1em" color="primary">
    Causes</button>
  <button mat-menu-item [routerLink]="['/effects']" *ngIf="loggedIn()" style="margin-right:1em" color="primary">
    Effects</button>

  <button mat-menu-item (click)="logout()" *ngIf="loggedIn()" style="margin-right:0" color="primary">
    Logout</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>

<section style="padding:1em;">
  <router-outlet></router-outlet>
</section>
