<mat-toolbar>
  <button matTooltip="what if there was no tomorrow?" matTooltipPosition="below" mat-button routerLink="/">
    <mat-icon>repeat_one</mat-icon> 
        groundhog.</button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>

    <button matTooltip="make an account" matTooltipPosition="below" mat-raised-button [routerLink]="['/signup']" *ngIf="!loggedIn()" style="margin-right:1em">
    signup</button>
    <button matTooltip="welcome back!" matTooltipPosition="below" mat-raised-button [routerLink]="['/login']" *ngIf="!loggedIn()" style="margin-right:0">
    login</button>
    <!--<button mat-raised-button [routerLink]="['/stats']" *ngIf="loggedIn()" style="margin-right:1em"><i class="material-icons">timeline</i> Stats</button>-->
    <button matTooltip="things you did today" matTooltipPosition="below" mat-raised-button [routerLink]="['/actions']" *ngIf="loggedIn() && actionCount > 0" style="margin-right:1em">
    {{ actionCount }} actions</button>
    <button matTooltip="things you want to do today" matTooltipPosition="below" mat-raised-button [routerLink]="['/causes']" *ngIf="loggedIn() && causeCount > 0" style="margin-right:1em">
    {{ causeCount }} causes</button>
    <button matTooltip="things you want to happen today" matTooltipPosition="below" mat-raised-button [routerLink]="['/effects']" *ngIf="loggedIn()" style="margin-right:1em">
    {{ effectCount }} effects</button>

    <button matTooltip="bye!" matTooltipPosition="below" mat-raised-button (click)="logout()" *ngIf="loggedIn()" style="margin-right:0">
    logout</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">

  <button mat-menu-item [routerLink]="['/signup']" *ngIf="!loggedIn()" style="margin-right:1em">
    Signup</button>
  <button mat-menu-item [routerLink]="['/login']" *ngIf="!loggedIn()" style="margin-right:0">
    Login</button>
  <!--<button mat-raised-button [routerLink]="['/stats']" *ngIf="loggedIn()" style="margin-right:1em"><i class="material-icons">timeline</i> Stats</button>-->
  <button mat-menu-item [routerLink]="['/actions']" *ngIf="loggedIn()" style="margin-right:1em">
    Actions</button>
  <button mat-menu-item [routerLink]="['/causes']" *ngIf="loggedIn()" style="margin-right:1em">
    Causes</button>
  <button mat-menu-item [routerLink]="['/effects']" *ngIf="loggedIn()" style="margin-right:1em">
    Effects</button>

  <button mat-menu-item (click)="logout()" *ngIf="loggedIn()" style="margin-right:0">
    Logout</button>
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>

<section style="padding:1em;">
  <router-outlet></router-outlet>
</section>
