<mat-card>


  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let cause of causes" (opened)="loadActions(cause)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i color="primary" class="material-icons" style="margin-right:1em;" *ngIf="cause.sentiment == 1">sentiment_very_satisfied</i>
            <i color="accent" class="material-icons" style="margin-right:1em;" *ngIf="cause.sentiment == 0">sentiment_neutral</i>
            <i color="warn" class="material-icons" style="margin-right:1em;" *ngIf="cause.sentiment == -1">sentiment_very_dissatisfied</i>
            {{ cause.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ cause.created_at | date: 'dd/MM/yyyy - hh:mm'}}

          </mat-panel-description>
        </mat-expansion-panel-header>



        <mat-list>
          <h3 mat-subheader>{{data.children.length}} Action{{data.children.length == 1 ? '' : 's'}} Performed</h3>
          <mat-list-item *ngFor="let action of data.children">
            <mat-icon mat-list-icon style="margin-right:1em;">visibility</mat-icon>
            <mat-icon mat-list-icon style="margin-right:1em;" *ngIf="action.sentiment == 1">sentiment_very_satisfied</mat-icon>
            <mat-icon mat-list-icon style="margin-right:1em;" *ngIf="action.sentiment == 0">sentiment_neutral</mat-icon>
            <mat-icon mat-list-icon style="margin-right:1em;" *ngIf="action.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
            <h4 mat-line>{{ action.name }}</h4>
            <p mat-line class="demo-2">{{ action.created_at | date: 'dd/MM/yyyy - hh:mm'}}</p>

          </mat-list-item>

          <!--<h3 mat-subheader>Causes Effect</h3>
          <mat-list-item>
            <mat-icon mat-list-icon>sentiment_neutral</mat-icon>
            <h4 mat-line>Effect</h4>
            <p mat-line class="demo-2"> bar </p>
          </mat-list-item>-->
        </mat-list>

        <mat-action-row style="justify-content: space-between!important; padding: 16px 8px 16px 16px!important;">
          <button mat-raised-button (click)="deleteCause(cause)" style="margin-left:0;" color="primary">
            Delete</button>
          <button mat-raised-button (click)="openActionDialog(cause)" style="margin-right:0.5em;" color="primary">
            New Action</button>


        </mat-action-row>
      </mat-expansion-panel>





    </mat-accordion>

  </mat-card-content>

</mat-card>
