<mat-card style="padding-top: 1em;" [@SlideInOutAnimation]>
  <mat-card-header style="margin-bottom: 2em; justify-content: space-between;">
    <mat-form-field class="full-width">
      <mat-icon *ngIf="query != ''" matPrefix (click)="resetSearch()">clear</mat-icon>
      <input (keydown)="queryChanged($event)" type="text" matInput placeholder="search" [(ngModel)]="query">
      <mat-icon matTooltip="search" matTooltipPosition="above" matSuffix (click)="doSearch()">search</mat-icon>
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <mat-card *ngIf="causes.length == 0 && initialGet">
      nothing to see here. try looking at effects.
    </mat-card>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let cause of causes" (click)="expandCause(cause._id); $event.stopPropagation();" [expanded]="expandedCause === cause._id || causes.length == 1">
        <mat-expansion-panel-header>
          <mat-panel-title style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            <mat-icon matTooltip="add an action to this cause" matTooltipPosition="above" style="margin-right:1em;cursor: pointer;" mat-list-icon (click)="expandCause(cause._id);newActionDialog(cause);$event.stopPropagation();">add</mat-icon>
            <mat-icon matTooltip="edit this cause" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor:pointer;" (click)="expandCause(cause._id);editCauseDialog(cause);$event.stopPropagation();">mode_edit</mat-icon>
            <mat-icon matTooltip="delete this cause" matTooltipPosition="above" style="margin-right:1em;cursor: pointer;" (click)="expandCause(cause._id);deleteCauseDialog(cause);$event.stopPropagation();">delete_sweep</mat-icon>
            <mat-icon matTooltip="yay!" matTooltipPosition="above" color="primary" class="material-icons" style="margin-right:1em;" *ngIf="cause.sentiment == 1">sentiment_very_satisfied</mat-icon>
            <mat-icon matTooltip="meh." matTooltipPosition="above" color="accent" class="material-icons" style="margin-right:1em;" *ngIf="cause.sentiment == 0">sentiment_neutral</mat-icon>
            <mat-icon matTooltip="noo!" matTooltipPosition="above" color="warn" class="material-icons" style="margin-right:1em;" *ngIf="cause.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
            {{ cause.name }}
          </mat-panel-title>
          <mat-panel-description style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 8.5em;">
            {{ cause.created_at | date: 'dd/MM/yyyy - hh:mm'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <h3 mat-subheader> effect </h3>
          <mat-list-item>
            <mat-icon matTooltip="add a cause to this effect" matTooltipPosition="above" mat-list-icon (click)="newCauseDialog(cause.effect._id);" style="margin-right:1em;cursor: pointer;">add</mat-icon>
            <mat-icon matTooltip="view this effect" matTooltipPosition="above" routerLink="/effects/{{ cause.effect?._id }}" mat-list-icon style="margin-right:1em;cursor:pointer;" >visibility</mat-icon>
            <mat-icon matTooltip="edit this effect" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor: pointer;" (click)="editEffectDialog(cause.effect)">mode_edit</mat-icon>
            <mat-icon matTooltip="delete this effect" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor: pointer;" (click)="deleteEffectDialog(cause.effect)">delete_sweep</mat-icon>
            <mat-icon matTooltip="yay!" matTooltipPosition="above" mat-list-icon color="primary" style="margin-right:1em;" *ngIf="cause.effect?.sentiment == 1">sentiment_very_satisfied</mat-icon>
            <mat-icon matTooltip="meh." matTooltipPosition="above" mat-list-icon color="accent" style="margin-right:1em;" *ngIf="cause.effect?.sentiment == 0">sentiment_neutral</mat-icon>
            <mat-icon matTooltip="noo!" matTooltipPosition="above" mat-list-icon color="warn" style="margin-right:1em;" *ngIf="cause.effect?.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
            <h4 mat-line>{{ cause.effect?.name }}</h4>
            <p mat-line style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;min-width: 8.5em;" class="demo-2">{{ cause.effect?.created_at | date: 'dd/MM/yyyy - hh:mm'}}</p>
          </mat-list-item>
          <h3 *ngIf="cause.children.length > 0" mat-subheader>{{cause.children.length}} action{{cause.children.length == 1 ? '' : 's'}} performed</h3>
          <mat-list-item *ngFor="let action of cause.children">
            <mat-icon matTooltip="view this action" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor:pointer;" routerLink="/actions/{{ action._id }}">visibility</mat-icon>
            <mat-icon matTooltip="edit this action" matTooltipPosition="above"  mat-list-icon style="margin-right:1em;cursor:pointer" (click)="editActionDialog(action)">mode_edit</mat-icon>
            <mat-icon matTooltip="delete this action" matTooltipPosition="above" mat-list-icon style="margin-right:1em;cursor: pointer;" (click)="deleteActionDialog(action)">delete</mat-icon>
            <mat-icon matTooltip="yay!" matTooltipPosition="above" mat-list-icon color="primary" style="margin-right:1em;" *ngIf="action.sentiment == 1">sentiment_very_satisfied</mat-icon>
            <mat-icon matTooltip="meh." matTooltipPosition="above" mat-list-icon color="accent" style="margin-right:1em;" *ngIf="action.sentiment == 0">sentiment_neutral</mat-icon>
            <mat-icon matTooltip="noo!" matTooltipPosition="above" mat-list-icon color="warn" style="margin-right:1em;" *ngIf="action.sentiment == -1">sentiment_very_dissatisfied</mat-icon>
            <h4 mat-line>{{ action.name }}</h4>
            <p mat-line class="demo-2">{{ action.created_at | date: 'dd/MM/yyyy - hh:mm'}}</p>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>


